body {
  background: $primary;
  font-family: "Noto Sans TC", sans-serif;
  font-size: $font-default;
}

a {
  text-align: center;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: flex-end;
  @include mobile-size-415px {
    justify-content: center;
    margin: 30px 0;
  }
  .fa-calendar-check {
    font-size: $font-sl;
    margin-right: 10px;
    @include mobile-size-415px {
      font-size: $font-l;
    }
  }
}

.title {
  font-family: "Baloo Tamma 2";
  font-size: $font-l;
  @include mobile-size-415px {
    font-size: $font-ml;
  }
  color: $secondary;
  font-weight: bold;
}