.bg {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  background-image: linear-gradient(
    174deg,
    $primary 2%,
    $primary 46%,
    #ffffff 46%,
    #ffffff 100%,
    #e8e8e8 100%
  );
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 50px;
  @include mobile-size-415px {
    padding: 20px 10px;
  }
}

.nav-info {
  display: flex;
  align-items: center;
  h2 {
    font-weight: bold;
    color: $secondary;
    margin-right: 15px;
    span {
      text-shadow: 2px 2px 5px $gray;
    }
    @include mobile-size-415px {
      display: none;
    }
  }
  a {
    color: $secondary;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 3px solid $secondary;
    @media (hover: hover) {
      &:hover {
        background: $secondary;
        color: #fff;
      }
    }
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  @include mobile-size-415px {
    margin: 0 5%;
  }
}

.add-new-item {
  position: relative;
  margin-bottom: 20px;
}

.new-item {
  width: 100%;
  height: 48px;
  font-size: $font-m;
  border-radius: 10px;
  padding: 15px;
  box-shadow: $gray 2px 2px 8px;
  border: none;
  outline: none;
}

.add-button {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-radius: 10px;
  color: #fff;
  background: $secondary;
  line-height: 36px;
  top: 4px;
  right: 3px;
  transition: 0.3s;
  @media (hover: hover) {
    &:hover {
      background: $primary;
      color: $secondary;
    }
  }
}

.item-region {
  font-size: $font-m;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: $gray 2px 2px 8px;
  opacity: 0;
  transition: 0.3s;
}

.item-region-working {
  opacity: 1;
}

.item-category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.category-option {
  width: 33.333%;
  text-align: center;
  border-bottom: 3px solid $light-gray;
  a {
    display: block;
    padding: 5px 0;
    color: $gray;
  }
  &:hover {
    border-bottom: 3px solid $secondary;
  }
}

.active {
  border-bottom-color: $secondary;
  & > a {
    color: $secondary;
    font-weight: bold;
  }
}

.item-list {
  margin-bottom: 20px;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding-left: 5px;
    padding-right: 10px;
    label {
      display: flex;
      position: relative;
      align-items: center;
      user-select: none;
      padding-left: 40px;
      width: 100%;
      input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
        &:checked {
          ~ span {
            color: gray;
            text-decoration: line-through;
          }
          ~ span::before {
            border-color: transparent;
            transform: translateY(-50%) scale(0);
          }
          ~ span::after {
            opacity: 1;
          }
        }
      }
      span::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) scale(1);
        height: 24px;
        width: 24px;
        border-radius: 5px;
        border: 1px solid $secondary;
        pointer-events: none;
        transition: 0.3s ease;
      }
      span::after {
        content: "";
        position: absolute;
        left: 8px;
        top: -22%;
        transform: rotate(45deg);
        height: 20px;
        width: 10px;
        border-radius: 1px;
        border-bottom: 3px solid $primary;
        border-right: 3px solid $primary;
        pointer-events: none;
        opacity: 0;
        transition: 0.3s ease;
      }
    }
  }
}

.modify-item {
  font-size: $font-ml;
  @include mobile-size-415px {
    font-size: $font-m;
  }
  color: $secondary;
  margin: 0 10px;
  transition: 0.3s;
  @media (hover: hover) {
    &:hover {
      color: lighten($secondary, 50%);
    }
  }
}

.item-info {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.num-info {
  font-weight: bold;
}

.clear-all-finished {
  color: $gray;
  &:hover {
    color: $secondary;
    font-weight: bold;
  }
}

.no-item-region{
  margin-top: -10%;
  @include mobile-size-415px{
    margin-top: -30%;
  }
  h3{
    text-align: center;
    margin-bottom: 20px;
  }
  img{
    margin: 0 auto;
  }
}
