$primary: #ffd370;
$secondary: #333333;
$gray: #9F9A91;
$light-gray: #EFEFEF;
$font-sl: 48px;
$font-l: 36px;
$font-ml: 28px;
$font-m: 18px;
$font-default: 22px;

@mixin mobile-size-415px {
  @media (max-width: 415px) {
    @content;
  }
}
