/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
	max-width: 100%;
	height: auto;
}

*, *::before, *::after{
	box-sizing: border-box;
}
/*--------------------*/

.wrap{
    margin: 0 auto;
    max-width: 1002px;
	font-family: 'Noto Sans TC', sans-serif;
}

.top-bar{
	height: 30px;
	background: #f6f6f6;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.social-media{
	display: flex;
	justify-content: space-evenly;
	width: 17%;
}

.social-media a{
	font-size: 14px;
	color: blue;
	text-decoration: none;
}

.social-media i{
	margin-right: 2px;
}

@media(max-width: 767px){
	.social-media{
		width: 45%;
		justify-content: space-evenly;
	}
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo a{
	display: block;
	background: url("../images/logo.png") no-repeat;
	width: 225px;
	height: 50px;
	background-size: contain;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

.header-links{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
	padding-right: 10px;
}

.header-links li{
	text-align: center;
}

.header-links a{
	color: #0bc58c;
	display: block;
	text-decoration: none;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-links a::after{
	content: '';
    width: 0%;
    height: 4px;
	display: block;
	margin: auto;
    margin-top: 5px;
    background: #0bc58c;
}

.header-links .recent-page::after{
	content: '';
    width: 100%;
    height: 4px;
	display: block;
	margin: auto;
    margin-top: 5px;
    background: #0bc58c;
}

.header-links a:hover::after{
	width: 100%;
	transition: 0.5s;
}

@media(max-width: 820px){
	.header-links{
		width: 33%;
	}
}

@media(max-width: 767px){
	.header{
		flex-direction: column;
	}

	.header-links{
		width: 60%;
		padding-right: 0;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.header-links li{
		width: 48%;
		margin: 0 1%;
	}

	.header-links .recent-page::after{
		width: 0%;
	}

	.header-links a:hover::after{
		width: 60%;
	}
}

.banner{
	background: url("../images/banner.png") no-repeat;
	height: 346px;
	margin-bottom: 50px;
	position: relative;
}

.title{
	width: 100%;
	height: 160px;
	position: absolute;
	top: 90px;
	background: rgba(68, 64, 64, 0.2);
}

.title h1{
	color: #fff;
	font-size: 35px;
	line-height: 1.2;
	padding-left: 20px;
}

@media(max-width: 767px){	
	.title h1{
		font-size: 30px;
	}
}

.content{
	margin-bottom: 50px;
}

.course{
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
	flex-wrap: wrap;
}

.course > li{
	width: 30%;
	border-radius: 5px;
	padding: 2%;
	box-shadow: 0px 5px 10px lightgray;
	display: flex;
	flex-direction: column;
}

.course > li:hover{
	box-shadow: 0px 5px 10px grey;
	transition: 0.5s;	
}

.course > li img{
	margin: 0 auto;
}

.course > li h2{
	text-align: center;
	font-size: 20px;
	line-height: 1.5;
	padding-bottom: 10px;
}

.course > li p{
	line-height: 1.5;
	font-size: 15px;
}

.course > li li{
	font-size: 15px;
	line-height: 1.5;
}

@media(max-width: 820px){
	.course{
		justify-content: flex-start;
	}

	.course > li{
		width: 46%;
		margin: 0 2%;
		margin-bottom: 20px;
		padding: 3%;
	}
}

@media(max-width: 767px){
	.course > li{
		width: 70%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}

@media(max-width: 415px){
	.course > li{
		width: 90%;
		padding: 4%;
	}
}

.course-compare{
	padding-bottom: 30px;
}

.course-compare h2{
	font-size: 30px;
	text-align: center;
	padding-bottom: 20px;
}

.course-compare-table{
	width: 90%;
	margin: 0 auto;
}

.course-compare-table tr{
	text-align: left;
	border-top: 1px solid #f7f7f7;
	border-bottom: 1px solid #f7f7f7;
	font-size: 16px;
}

.course-compare-table th{
	background: #f7f7f7;
	font-weight: bold;
}

.course-compare-table th,
.course-compare-table td{
	width: 15%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.course-compare-table span{
	color: #02a571;
}

@media(max-width: 767px){
	.course-compare h2{
		font-size: 24px;
	}

	.course-compare-table tr{
		font-size: 14px;
		text-align: center;
	}

	.course-compare-table th:last-child,
	.course-compare-table td:last-child{
		display: none;
	}

	.course-compare-table th,
	.course-compare-table td{
		width: 40%;
	}

	.course-compare-table th:first-child,
	.course-compare-table td:first-child{
		width: 20%;
	}
}

.footer{
    background:linear-gradient(#00644b, #009771);
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
	margin-bottom: 20px;
}

.footer h2{
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile{
	display: flex;
	padding: 20px;
}

@media(max-width: 767px){
	.footer h2{
		font-size: 24px;
	}
	.profile{
		display: block;
	}
}

.text-region{
	width: 50%;
	margin-right: 20px;
}

.text-region textarea{
	width: 100%;
	resize: none;
	height: 250px;
	border-radius: 5px;
	font-size: 18px;
	padding: 3%;
}

.info-region{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.info-region label{
	font-size: 16px;
	margin-bottom: 5px;
}

.info-region input{
	margin-bottom: 20px;
	border: 0px;
	border-radius: 5px;
	width: 100%;
	height: 30px;
	font-size: 16px;
	padding: 2%;
}

.info-region input:last-child{
	width: 15%;
	height: 35px;
	background: #00cc98;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-left: 85%;
	padding: 1%;	
}

.info-region input:hover:last-child{
	background: #05d6a2;
	cursor: pointer;
	transition: 0.5s;
}

@media(max-width: 767px){

	.text-region{
		width: 100%;
		margin-bottom: 20px;
	}

	.info-region{
		width: 100%;
	}

	.info-region input{
		height: 40px;
	}

	.info-region input:last-child{
		width: 100%;
		margin-left: 0;
		height: 44px;
	}
}

.bottom-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.contact-us p{
	padding-bottom: 5px;
}

.contact-us span{
	color: grey;
}

@media(max-width: 820px){
	.contact-us{
		margin-right: 2%;
	}
}

@media(max-width: 767px){
	.bottom-bar{
		flex-direction: column;
	}

	.bottom-bar a{
		margin-bottom: 20px;
	}
}