.home-banner-img{
  height: 647px;
  background: url("../images/home.svg") no-repeat;
}

.platform-img{
  width: 90px;
  height: 90px;
}

.project-img{
  width: 86px;
  height: 86px;
}

.user-img{
  width: 80px;
  height: 80px;
}

.star-img{
  width: 20px;
  height: 20px;
}

.other-page{
  width: 10px;
  height: 10px;
}

.recent-page{
  width: 16px;
  height: 10px;
}