* {
  font-family: "Microsoft JhengHei", serif;
}

.side-bar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #1d1210;
  z-index: 100;
  right: -200px;
  transition: all 0.5s;
  .mobile-links-close {
    display: inline-block;
    color: $titleColor;
    font-size: $font-sl;
    margin: 10px 20px;
  }

  .mobile-nav-links {
    li {
      margin: 50px 20px;
      color: $titleColor;
      border-bottom: 1px solid #fff;
      a {
        display: block;
        text-decoration: none;
        color: $titleColor;
        font-size: $font-m;
      }
      a:focus {
        text-shadow: 1px 1px 5px #fff;
      }
    }
  }
}

.open .side-bar {
  right: 0;
}

.open .main {
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
}

.main {
  transition: all 0.5s;
}

.banner-bg {
  background: #1d1210;
}

.primary-bg {
  background: $primaryColor;
}

.secondary-bg {
  background: $secondaryColor;
}

.third-bg {
  background: $thirdColor;
}

.container {
  max-width: 1048px;
  margin: 0 auto;
}

.banner {
  height: 420px;
  background: url("../images/header_desktop.png") no-repeat;
  @include mobile-vertical {
    background: url("../images/header_mobile.png") no-repeat;
  }

  .top-bar {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $topBarColor;

    .top-logo {
      width: 120px;
      height: 24px;
      background: url("../images/logo_w.png") no-repeat;
      background: url("../images/logo_w@svg.svg") no-repeat;
      margin-left: 3%;
      @include hide-text;
    }

    .nav-links {
      display: flex;
      justify-content: space-evenly;
      margin-right: 2%;
      @include mobile-vertical {
        display: none;
      }

      li {
        margin: 0 15px;
        padding: 5px;
      }

      a {
        display: inline-block;
        text-decoration: none;
        font-size: $font-s;
        color: $titleColor;
      }

      a:hover {
        text-shadow: 1px 1px 5px #fff;
        transition: 0.3s;
      }
    }

    .mobile-links-open {
      font-size: $font-l;
      color: $titleColor;
      margin-right: 5%;
      display: none;
      @include mobile-vertical {
        display: block;
      }
    }
  }

  .title {
    width: 43.8931%;
    @include mobile-vertical {
      width: 80%;
    }
    margin: 0 auto;
    text-align: center;
    background: rgba($color: #000000, $alpha: 0.35);
    padding-top: 20px;
    padding-bottom: 26px;
    margin-top: 67px;
    color: $titleColor;

    h1 {
      font-size: $font-sl;
      font-weight: bold;
      margin-bottom: 16px;
      @include tablet-vertical{
        font-size: $font-sl * 0.8;
      }
      @include mobile-vertical {
        font-size: $font-l;
      }
    }

    p {
      font-size: $font-s;
      line-height: 1.2;
    }
  }
}

.footer-info {
  display: flex;
  justify-content: space-between;
  @include tablet-vertical{
    margin: 0 3%;
  }
  @include mobile-vertical {
    flex-direction: column;
    align-items: center;
  }
  padding-top: $bottomSpace;
  padding-bottom: $bottomSpace;

  div {
    width: 28.6259%;
    @include mobile-vertical{
      width: 70%;
      margin: 0 15%;
      margin-bottom: 50px;
    }
    h2 {
      font-size: $font-l;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }

  .about {
    p {
      font-size: $font-s;
    }
  }

  .contact-us {
    li {
      list-style: disc;
      font-size: $font-s;
    }
  }

  .footer-logo {
    width: 243px;
    text-align: right;
    a:first-child {
      display: block;
      height: 48px;
      background: url("../images/logo_l.png") no-repeat;
      background: url("../images/logo_l@svg.svg") no-repeat;
      @include hide-text;
      margin-bottom: 20px;
    }
    .fab {
      font-size: $font-sl;
      margin-left: 10px;
      transition: all 0.3s;
    }
    .fab:hover {
      opacity: 0.6;
    }
    .fa-google-plus-square {
      color: #db4437;
    }
    .fa-twitter-square {
      color: #41abe1;
    }
    .fa-facebook-square {
      color: #3a5795;
    }
  }
}

.form-region {
  margin: 0 auto;
  padding: 15px;
  border-top: 3px solid #ff5e45;
  box-shadow: 5px 5px 10px #979797;
  h3 {
    color: $secondaryColor;
    font-size: $font-m;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .form-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    label {
      color: $secondaryColor;
      font-size: $font-s;
      position: relative;
      input {
        width: 100%;
        font-size: $font-s;
        height: 35px;
        border: 1px solid #979797;
        border-radius: 5px;
        padding: 5px 0px;
        padding-left: 35px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }
    .email::after {
      @include input-icon-pos("\f0e0");
    }
    .password::after {
      @include input-icon-pos("\f023");
    }
    .forget {
      margin-bottom: 40px;
      a {
        color: #ff5e45;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    button {
      width: 130px;
      cursor: pointer;
    }
  }
}

.gray-btn {
  color: #fff;
  background: rgba($color: #000000, $alpha: 0.35);
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: $font-s;
  transition: all 0.3s;
}

.gray-btn:hover {
  background: #d3d3d3;
}

.orange-btn {
  color: #fff;
  background: #f56c23;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: $font-s;
  transition: all 0.3s;
}

.orange-btn:hover {
  background: #f4a67d;
}
