$primaryColor: #efe9e7;
$secondaryColor: #3d1101;
$thirdColor: rgba($color: #fafafa, $alpha: 0.75);
$topBarColor: rgba($color: #000000, $alpha: 0.75);
$titleColor: #ffffff;
$topSpace: 80px;
$bottomSpace: 40px;
$font-m: 20px;
$font-sl: $font-m * 1.8;
$font-l: $font-m * 1.2;
$font-s: $font-m * 0.9;
