/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

body {
  height: 100vh;
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
}

@media (max-width: 415px) {
  body {
    font-size: 12px;
  }
}

input {
  font-family: "Noto Sans TC", sans-serif;
}

.container {
  max-width: 944px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.logo {
  width: 450px;
  height: 105px;
  background: url("../images/logo-l.png") no-repeat;
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
  margin: 20px 0;
}

@media (max-width: 912px) {
  .logo {
    margin: 20px 2%;
  }
}

@media (max-width: 415px) {
  .logo {
    width: 178px;
    height: 50px;
    background-image: url("../images/logo-s.png");
    margin: 10px auto;
  }
}

.main {
  background: #fff;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 0 3px #f8d45a inset;
          box-shadow: 0 0 0 3px #f8d45a inset;
  border-radius: 10px;
  padding: 30px;
}

@media (max-width: 912px) {
  .main {
    margin: 0 2%;
  }
}

@media (max-width: 415px) {
  .main {
    padding: 10px;
  }
}

.switch-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.switch-category li {
  margin: 0 5px;
}

.switch-category a {
  color: #2a2a2a;
  font-weight: bold;
  padding: 10px 50px;
  border: 2px solid #2a2a2a;
  border-bottom: 4px solid #2a2a2a;
  border-radius: 5px;
}

@media (max-width: 415px) {
  .switch-category a {
    padding: 10px 25px;
    font-size: 20px;
    margin-top: 10px;
  }
}

.switch-category a:hover {
  background: #f8d45a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.switch-category a.active {
  background: #f8d45a;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  position: relative;
}

@media (max-width: 415px) {
  .search-bar {
    display: block;
  }
}

.search-bar label {
  height: 50.8px;
  line-height: 50.8px;
  color: #fff;
  background: #899e39;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
}

@media (max-width: 415px) {
  .search-bar label {
    display: none;
  }
}

.search-bar input[type="text"] {
  padding: 8px;
  font-size: 20px;
  border: 3px solid #899e39;
  border-radius: 0 5px 5px 0;
  outline: none;
  margin-right: 10px;
}

@media (max-width: 415px) {
  .search-bar input[type="text"] {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

.search-bar input[type="button"] {
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  background: #899e39;
  border: 3px solid #899e39;
  border-radius: 5px;
  width: 100px;
  height: 50.8px;
  cursor: pointer;
}

.search-bar input[type="button"]:hover {
  background: #fff;
  color: #899e39;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 415px) {
  .search-bar input[type="button"] {
    width: 100%;
  }
}

.data-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.data-info h2 {
  font-weight: bold;
}

@media (max-width: 415px) {
  .data-info h2 {
    font-size: 16px;
  }
}

.data-info select {
  font-size: 20px;
  padding: 5px 0;
  border-radius: 5px;
  outline: none;
}

@media (max-width: 415px) {
  .data-info select {
    display: none;
  }
}

table {
  width: 100%;
}

.result-thead {
  border-top: 2px solid #2a2a2a;
  border-bottom: 2px solid #2a2a2a;
  background: #f4f1ea;
}

.result-thead th {
  font-weight: bold;
  padding: 10px;
}

@media (max-width: 415px) {
  .result-thead th {
    padding: 5px;
  }
  .result-thead th span {
    display: none;
  }
}

.switch-order {
  display: inline-block;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

@media (max-width: 415px) {
  .switch-order {
    display: none;
  }
}

.switch-order a {
  display: inline;
  margin-bottom: -8px;
  margin-top: -3px;
}

.switch-order a:hover {
  color: #f8d45a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.default-text {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.result-row {
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.result-row td {
  padding: 10px 0;
}

.render-data-mobile {
  display: none;
}

@media (max-width: 415px) {
  .render-data-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    border-radius: 30px;
    margin-left: 4%;
    margin-top: 10px;
    font-size: 16px;
  }
}
